.container{
    /* https://media.tenor.com/O_hMn2MaFroAAAAC/meditation-concentrate.gif */
    background-image: url("https://images.everydayhealth.com/images/emotional-health/meditation/a-complete-guide-to-meditation-722x406.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    border: 0px solid black;
    width: 100%;
}

.childOne{
    border: 0px solid black;
    height: 100%;
    width: 30%;
    /* color: #e6e4e0; */
    color: black;
   
}

.childTwo{
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 0px solid black;
  height: 100%;
  width: 30%;
  color: black;
} 
.video{
width: 100%;
height: 300px;
border: 0px solid white;
}

/* small screen */
@media all and (min-width:320px) and (max-width:679px){
    .container{
        display: block;
    }
    .childOne{
        width: 100%;
    }
    .childTwo{
        width: 100%;
    }
}


/* medium screen */
@media all and (min-width:680px) and (max-width:1024px){
    .container{
        display: block;
    }
    .childOne{
        width: 100%;
    }
    .childTwo{
        width: 100%;
    }
}